<%- include ('partials/header') %>
    <main>
        <div class="page-title">
            <h1><%= question.title %></h1>
            <a href="/"><button class="success"><i class="fas fa-undo"></i>&nbsp; Voltar</button></a>       
        </div>
        <div class="questions-container">
            <h5>Categoria: <%= question.category %></h5>
            <h3>Descrição:</h3>
            <p><%= question.description %></p>
            <hr>
            <form method="POST" action="/answer">
                <h4>Responder:</h4>
                <input type="hidden" name="questionId" value="<%= question.id %>">
                <textarea name="body" cols="" rows="4" placeholder="Digite aqui sua resposta ..." required></textarea>
                <button type="submit" class="primary">Enviar resposta &nbsp;<i class="fas fa-arrow-right"></i></button></a>
            </form>
            <br><br><hr>
            <h2>Todas as respostas:</h2>
            <% if(answer[0] != undefined){ %>
                <% answer.forEach(answer => { %>
                    <div class="answers">
                         <h5><i class="far fa-hand-point-right"></i> &nbsp; &nbsp; <%= answer.body %></h5>
                    </div>
                <% }) %>
                <% }else{ %>
                        <p><i class="fas fa-exclamation-circle"></i> &nbsp; Ainda não há respostas para essa pergunta, seja o(a) primeiro(a) a responder ...</p>
                <% } %>
        </div>
    </main>

    <!-- Alert functions -->
    <script>
        const answerAdded = () => {
    swal({
            icon: "success",
            title: "Sucesso !",
            text: "Sua resposta foi adicionada !",
            buttons: {
                confirm: "Fechar"
            }
        })
    }

    const urlParams = new URLSearchParams(window.location.search)
    const param = urlParams.get("alert")

    param === "answer-added" ? window.onload = answerAdded : false
    </script>
<%- include ('partials/footer') %>
    