<%- include ('partials/header') %>
    <main>
        <div class="page-title">
            <h1>Ask - Plataforma de Perguntas e Respostas</h1>
            <a href="/"><button class="success">Voltar</button></a>  
        </div>
        <hr><br>
        <div class="questions-container"> 
           <h2>>> Últimas perguntas sobre <span><%= question.reduce(category => category.category) %></span></h2>
            <% question.forEach(question => { %>
             <div class="question-list">
                 <h4><%= question.title %></h4>
                 <a href="/question/<%= question.id %>"><button class="light">Responder / Ver</button></a>
             </div>
            <% }) %>
        </div>
    </main>
<%- include ('partials/footer') %>
    